### Vue template
# gitignore template for Vue.js projects

### Vuejs template
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log
.idea
blog.iml
ruyu-blog-doc/
.codebuddy
application-dev.yml
application-prod.yml
sta-blog-ui/tsc-output.txt
sta-blog-ui/.agents/skills/caveman/SKILL.md
sta-blog-ui/.agents/skills/diagnose/SKILL.md
sta-blog-ui/.agents/skills/diagnose/scripts/hitl-loop.template.sh
sta-blog-ui/.agents/skills/grill-me/SKILL.md
sta-blog-ui/.agents/skills/grill-with-docs/ADR-FORMAT.md
sta-blog-ui/.agents/skills/grill-with-docs/CONTEXT-FORMAT.md
sta-blog-ui/.agents/skills/grill-with-docs/SKILL.md
sta-blog-ui/.agents/skills/handoff/SKILL.md
sta-blog-ui/.agents/skills/improve-codebase-architecture/DEEPENING.md
sta-blog-ui/.agents/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
sta-blog-ui/.agents/skills/improve-codebase-architecture/LANGUAGE.md
sta-blog-ui/.agents/skills/improve-codebase-architecture/SKILL.md
sta-blog-ui/.agents/skills/prototype/LOGIC.md
sta-blog-ui/.agents/skills/prototype/SKILL.md
sta-blog-ui/.agents/skills/prototype/UI.md
sta-blog-ui/.agents/skills/setup-matt-pocock-skills/domain.md
sta-blog-ui/.agents/skills/setup-matt-pocock-skills/issue-tracker-github.md
sta-blog-ui/.agents/skills/setup-matt-pocock-skills/issue-tracker-gitlab.md
sta-blog-ui/.agents/skills/setup-matt-pocock-skills/issue-tracker-local.md
sta-blog-ui/.agents/skills/setup-matt-pocock-skills/SKILL.md
sta-blog-ui/.agents/skills/setup-matt-pocock-skills/triage-labels.md
sta-blog-ui/.agents/skills/tdd/deep-modules.md
sta-blog-ui/.agents/skills/tdd/interface-design.md
sta-blog-ui/.agents/skills/tdd/mocking.md
sta-blog-ui/.agents/skills/tdd/refactoring.md
sta-blog-ui/.agents/skills/tdd/SKILL.md
sta-blog-ui/.agents/skills/tdd/tests.md
sta-blog-ui/.agents/skills/to-issues/SKILL.md
sta-blog-ui/.agents/skills/to-prd/SKILL.md
sta-blog-ui/.agents/skills/triage/AGENT-BRIEF.md
sta-blog-ui/.agents/skills/triage/OUT-OF-SCOPE.md
sta-blog-ui/.agents/skills/triage/SKILL.md
sta-blog-ui/.agents/skills/write-a-skill/SKILL.md
sta-blog-ui/.agents/skills/zoom-out/SKILL.md
sta-blog-ui/visualizer.html
.gitignore
sta-blog-ui/visualizer.html
sta-blog-ui/.env.development
